<%= form_with(model: best_beer, local: true) do |form| %>
  <% if best_beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(best_beer.errors.count, "error") %> prohibited this best_beer from being saved:</h2>

      <ul>
      <% best_beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :beer %>
    <%= form.text_field :beer, id: :best_beer_beer %>
  </div>

  <div class="field">
    <%= form.label :alcohol %>
    <%= form.text_field :alcohol, id: :best_beer_alcohol %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :best_beer_points %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :best_beer_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
