<p id="notice"><%= notice %></p>

<h1>Best Beers</h1>

<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Alcohol</th>
      <th>Points</th>
      <th>Beer type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @best_beers.each do |best_beer| %>
      <tr>
        <td><%= best_beer.beer %></td>
        <td><%= best_beer.alcohol %></td>
        <td><%= best_beer.points %></td>
        <td><%= best_beer.beer_type %></td>
        <td><%= link_to 'Show', best_beer %></td>
        <td><%= link_to 'Edit', edit_best_beer_path(best_beer) %></td>
        <td><%= link_to 'Destroy', best_beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Best Beer', new_best_beer_path %>
