<p id="notice"><%= notice %></p>

<p>
  <strong>Beer:</strong>
  <%= @best_beer.beer %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @best_beer.alcohol %>
</p>

<p>
  <strong>Points:</strong>
  <%= @best_beer.points %>
</p>

<p>
  <strong>Beer type:</strong>
  <%= @best_beer.beer_type %>
</p>

<%= link_to 'Edit', edit_best_beer_path(@best_beer) %> |
<%= link_to 'Back', best_beers_path %>
